<a href="https://colab.research.google.com/github/njaincode/python_for_data_science/blob/main/Interrogating_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interrogating the dataframe
---

We use pandas to create dataframes from data sets in files or online tables.

Once we have the dataframe we might want to:  
*   display a subset of rows
*   *   we can do this using df.head(), df.tail() or df.iloc[index]
*   display a subset of columns
*   *   we can do this using the column name as the key, e.g.   
`                df['rain (mm)']`  
*   *   we can display more than one column, simply by listing the columns in the square brackets, e.g.   
`                df[['rain (mm)', 'tmin (degC)', 'sun (hours)']]`  
*   *   and can dislay a subset of rows for a subset of columns, e.g.  
 `               df[['rain (mm)', 'tmax (degC)']].head(10)`

### Exercise 1 - get the data, look at first 10 records
---


1.  Import the pandas library with the alias pd  
2.  Read the sheet with the name "Industry Migration" from the Excel file from this link: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true  (*Hint:  use pd.read_excel(url, sheet_name="Industry Migration") with the above url.*)
3.  display the first 10 rows of the data

In [8]:
import pandas as pd

def display_10_records():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  df = pd.read_excel(excel_url, sheet_name='Industry Migration')
  total_rows = len(df.axes[0])
  total_col = len(df.axes[1])
  print(f'rows={total_rows}, col={total_col}')
  pd.options.display.max_columns= total_col
  pd.options.display.max_rows= total_rows
  print(df.shape)
  print(df.info())
  # FIXME Nice way to print?
  print(df.head(10))

display_10_records()

rows=5295, col=13
(5295, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_code        5295 non-null   object
 1   country_name        5295 non-null   object
 2   wb_income           5295 non-null   object
 3   wb_region           5295 non-null   object
 4   isic_section_index  5295 non-null   object
 5   isic_section_name   5295 non-null   object
 6   industry_id         5295 non-null   int64
 7   industry_name       5295 non-null   object
 8   net_per_10K_2015    5295 non-null   float64
 9   net_per_10K_2016    5295 non-null   float64
 10  net_per_10K_2017    5295 non-null   float64
 11  net_per_10K_2018    5295 non-null   float64
 12  net_per_10K_2019    5295 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 537.9+ KB
None
  country_code          country_name    wb_income                   wb_region  \
0           ae  United Arab Emirates  High income  Middle East & North Africa
1           ae  United Arab Emirates  High income  Middle East & North Africa
2           ae  United Arab Emirates  High income  Middle East & North Africa
3           ae  United Arab Emirates  High income  Middle East & North Africa
4           ae  United Arab Emirates  High income  Middle East & North Africa
5           ae  United Arab Emirates  High income  Middle East & North Africa
6           ae  United Arab Emirates  High income  Middle East & North Africa
7           ae  United Arab Emirates  High income  Middle East & North Africa
8           ae  United Arab Emirates  High income  Middle East & North Africa
9           ae  United Arab Emirates  High income  Middle East & North Africa

  isic_section_index                                 isic_section_name  \
0                  C                                     Manufacturing
1                  J                     Information and communication
2                  J                     Information and communication
3                  J                     Information and communication
4                  J                     Information and communication
5                  J                     Information and communication
6                  M  Professional scientific and technical activities
7                  M  Professional scientific and technical activities
8                  M  Professional scientific and technical activities
9                  M  Professional scientific and technical activities

   industry_id          industry_name  net_per_10K_2015  net_per_10K_2016  \
0            1        Defense & Space            378.74            127.94
1            3      Computer Hardware            100.97            358.14
2            4      Computer Software           1079.36            848.15
3            5    Computer Networking            401.46            447.39
4            6               Internet           1840.33           1368.42
5            8     Telecommunications            676.91            676.11
6            9           Law Practice            694.50            529.50
7           10         Legal Services            661.10            665.65
8           11  Management Consulting            982.85            694.25
9           12          Biotechnology           1230.17            846.28

   net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0              8.20             68.51             49.55
1            112.98            149.57            182.22
2            596.48            409.18            407.41
3            163.99            236.69            188.07
4            877.71            852.39            519.40
5            365.96            283.59            281.91
6            362.83            356.56            147.83
7            462.30            475.62            255.21
8            520.28            574.60            406.03
9            500.77            205.78            513.23

### Exercise 2 - display just two columns

Display the first 50 records focusing on the industries where migration is happening in each country (show just country_name and industry_name).

In [ ]:
import pandas as pd

def display_2col_records():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  df = pd.read_excel(excel_url, sheet_name='Industry Migration')
  total_rows = len(df.axes[0])
  total_col = len(df.axes[1])
  print(f'rows={total_rows}, col={total_col}')
  pd.options.display.max_columns= total_col
  pd.options.display.max_rows= 50
  
  # For debug
  #print(df.info())

  print(f'Printing country and industry names\n')
  print(df[['country_name' , 'industry_name']].head(50))
  
display_2col_records()

### Exercise 3 - yearly migration

*   display the middle 20 records, showing the country_name and the migration for each of the years 2015 to 2019.
---

In [46]:
import pandas as pd

def display_mid20_records():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  df = pd.read_excel(excel_url, sheet_name='Industry Migration')
  total_rows = len(df.axes[0])
  total_col = len(df.axes[1])
  # Calculate ball park mid 20 indexes assuming there are >=20 rows
  mid = int(total_rows/2)
  idx_low = mid-10
  idx_high = mid+9
  print(f'rows={total_rows}, col={total_col}, mid_range {idx_low}: {idx_high}')
  
  # Set some display options when run
  pd.options.display.max_columns= total_col
  pd.options.display.max_rows= 20
  
  # For debug
  #print(df.info())
  #print(df.columns)

  # Get column number from column name
  # Wanted to use col num to print but don't know how, need to explore more
  col_idx_2015 = df.columns.get_loc('net_per_10K_2015')

  # FIXME Can specific col name and range be used together in .loc?
  # What is the difference b/w .loc and .iloc?
  subset = df.loc[idx_low:idx_high, ['country_name', 'net_per_10K_2015', 'net_per_10K_2016','net_per_10K_2017','net_per_10K_2018','net_per_10K_2019']]
  print(subset.shape)
  print(f'Displaying mid 20 records with country name and migration from years [2015:2019]\n')
  print(subset)
  

display_mid20_records()

rows=5295, col=13, mid_range 2637: 2656
(20, 6)
Displaying mid 20 records with country name and migration from years [2015:2019]

     country_name  net_per_10K_2015  net_per_10K_2016  net_per_10K_2017  \
2637        India             -7.57            -15.53            -41.39
2638        India            -46.07            -84.82            -69.27
2639        India            -17.75             -9.88            -13.85
2640        India            -46.50            -53.41            -38.84
2641        India             15.19              5.91            -67.67
2642        India            -36.77            -72.50           -224.30
2643        India            -57.53            -50.04            -58.67
2644        India              4.31            -29.11            -68.60
2645        India            -60.63           -102.39           -130.02
2646        India            -26.63              5.22            -29.57
2647        India            -31.78            -45.04            -86.56
2648        India             24.01             27.84             -9.85
2649        India            -17.74            -27.67            -19.57
2650        India            -26.23            -21.12            -26.23
2651        India            -75.42            -71.15            -57.01
2652        India            -40.41             -2.47            -40.18
2653         Iraq            290.14            396.01            175.95
2654         Iraq             23.68           -148.03           -157.05
2655         Iraq           -138.81           -662.75           -273.35
2656         Iraq           -718.56           -623.25           -446.93

      net_per_10K_2018  net_per_10K_2019
2637            -58.19            -75.65
2638           -112.88           -102.83
2639            -17.02            -36.78
2640            -69.76            -73.81
2641            -42.27            -45.82
2642           -108.44            -57.46
2643            -98.15            -87.12
2644            -60.27            -71.01
2645            -97.02           -151.55
2646            -23.96            -58.40
2647            -66.87            -95.41
2648            -29.43            -63.83
2649            -63.91            -50.87
2650            -40.06            -55.07
2651            -95.02           -106.56
2652            -70.58           -142.21
2653            396.23            318.73
2654            -87.85            -38.84
2655           -109.23              0.00
2656           -456.94             95.72

### Exercise 4 - migration to and from
---

The Excel file at this link (which you have already opened above): https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true has three data sheets, "Country Migration", "Industry Migration" and "Skills Migration"

Open the data sheet "Country Migration" and display the first 10 records showing the country that migration was to, the country it was from and the net migration for each year from 2015 to 2019

In [55]:
import pandas as pd

def display_record(df, dest, src, net1):
  subset = df.loc[0:9, [dest, src, net1]]
  print(subset.shape)
  print(f'Displaying mid 20 records with country name and migration from years [2015:2019]\n')
  print(subset)

def display_country_migration():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  df = pd.read_excel(excel_url, sheet_name='Country Migration')
  total_rows = len(df.axes[0])
  total_col = len(df.axes[1])
  
  # For debug
  #print(f'rows={total_rows}, col={total_col}')
  
  # Set some display options when run
  pd.options.display.max_rows= 10
  
  # Migrated to, migrated from and net migration for years [2015:2019]
  cols = ['target_country_name', 'base_country_name', 'net_per_10K_2015', 'net_per_10K_2016', 'net_per_10K_2017', 'net_per_10K_2018', 'net_per_10K_2019']
  df1 = df[cols]
  print(df1.head(10))
  #display_record(df, 'target_country_name', 'base_country_name', 'net_per_10K_2015')

   

display_country_migration()

rows=4148, col=17
  target_country_name     base_country_name  net_per_10K_2015  \
0         Afghanistan  United Arab Emirates              0.19
1             Algeria  United Arab Emirates              0.19
2              Angola  United Arab Emirates             -0.01
3           Argentina  United Arab Emirates              0.16
4             Armenia  United Arab Emirates              0.10
5           Australia  United Arab Emirates             -1.06
6             Austria  United Arab Emirates              0.11
7          Azerbaijan  United Arab Emirates              0.24
8             Bahrain  United Arab Emirates              0.90
9          Bangladesh  United Arab Emirates             -0.21

   net_per_10K_2016  net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0              0.16              0.11             -0.05             -0.02
1              0.25              0.57              0.55              0.78
2              0.04              0.11             -0.02             -0.06
3              0.18              0.04              0.01              0.23
4              0.05              0.03             -0.01              0.02
5             -3.31             -4.01             -4.58             -4.09
6             -0.08             -0.07             -0.05             -0.16
7              0.25              0.10              0.05              0.04
8              0.89              0.38             -0.07              0.15
9             -0.21             -0.26             -0.18             -0.04

### Exercise 5 - unique countries

Using the "Country Migration" sheet, get all the unique country names from where people have migrated (base_country_name) and use a for loop to print a list of the countries.

In [ ]:
import pandas as pd

def display_unique_countries():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  df = pd.read_excel(excel_url, sheet_name='Country Migration')
    
  # Set some display options when run
  pd.options.display.max_rows= 10
  
  # Just for learning
  #bah = df[df.base_country_name == 'Bahrain']
  #print(bah.head(10))
  #print(df.keys())
  
  # Find unique base_country_name
  # Get all rows from base_country_name key
  df_base_name = df['base_country_name']
  print(f'Total number of entries in base_country_name = {df_base_name.shape}')
  # For debug
  #print(df_base_name.head(10))
  
  # Another way
  #df_uniq = df.drop_duplicates(subset = ['base_country_name'])
  
  # Get all unique values in rows
  df_base_name_unique = df_base_name.drop_duplicates()
  print(f'Total number of unique entries in base_country_name = {df_base_name_unique.shape}')
    
  print(f'Displaying unique country names using for loop')
  for i in df_base_name_unique:
    print(i)
     

display_unique_countries()

### Exercise 6 - how many countries are migrated to

Using the "Country Migration" sheet again, get all the unique country names to where people have migrated and display the number of unique countries.

In [ ]:
import pandas as pd

def display_migration_to_unique_countries():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  df = pd.read_excel(excel_url, sheet_name='Country Migration')
    
  # Set some display options when run
  pd.options.display.max_rows= 10
  
  col = 'target_country_name'
  # Find unique target_country_name
  # Get all rows from target_country_name key
  df_base_name = df[col]
  print(f'Total number of entries in {col} = {df_base_name.shape}')

  # Another way
  #df_uniq = df.drop_duplicates(subset = [col])
  
  # Get all unique values in rows
  df_base_name_unique = df_base_name.drop_duplicates()
  print(f'Total number of unique entries in {col} = {df_base_name_unique.shape}')
    
  print(f'Displaying unique country names using for loop')
  for i in df_base_name_unique:
    print(i)
     

display_migration_to_unique_countries()

### Exercise 7 - skill sets
---


Using the "Skill Migration" data sheet, display the following:
*  the first record
*  the last 10 records
*  records from index 500 to index 600  
*  a count of all unique countries
*  a list of all unique skill group categories
*  the first 50 skill group names and net migration in 2019

In [37]:
import pandas as pd

def display_skill_migration_data_samples():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  user_sheet_name = 'Skill Migration'
  df = pd.read_excel(excel_url, sheet_name=user_sheet_name)

  # Print shape to just get an idea about samples
  print(f'Shape of {user_sheet_name} is {df.shape}')

  total_col = len(df.axes[1])
  # Set some display options when run
  pd.options.display.max_columns= total_col
  pd.options.display.max_rows= 100

  # Print the first record
    print(f'First record {df.head(1)}')

  # Print last 10 records
    print(f'Last 10 records {df.tail(10)}')

  # Print records [500:600]
  # FIXME Why not all rows are getting printed?
    print(f'Printing [500:600] \n {df.iloc[500:601]}')

  # a count of all unique countries
  col = 'country_name'
  df_country_name = df.drop_duplicates(subset = [col])
  count = len(df_country_name.axes[0])
    print(f'Unique country_name shape {df_country_name.shape} and total count {count}')

  # a list of all unique skill group categories
  col = 'skill_group_category'
  df_skill_grp = df.drop_duplicates(subset = [col])
  count = len(df_skill_grp.axes[0])
    print(f'Unique skill group count is {count}')
  
  # the first 50 skill group names and net migration in 2019
  col = ['skill_group_name', 'net_per_10K_2019']
  df_skill_grp_net_mig_2019 = df[col]
  # Just to get an idea
  print(df_skill_grp_net_mig_2019.shape)
  print(df_skill_grp_net_mig_2019.head(50))
  

display_skill_migration_data_samples()

Shape of Skill Migration is (17617, 12)
(17617, 2)
                          skill_group_name  net_per_10K_2019
0                   Information Management          -1208.79
1                   Operational Efficiency           -790.09
2                        National Security           -767.64
3                         Software Testing           -739.51
4                                     Navy           -718.64
5                        Materials Science           -717.73
6                             Criminal Law           -698.84
7                          Problem Solving           -696.16
8   Software Development Life Cycle (SDLC)           -692.24
9                            Cybersecurity           -640.96
10                     Enterprise Software           -625.19
11                       Water Engineering           -560.86
12                               Air Force           -553.91
13                           Documentation           -534.90
14                           Public Safety           -531.68
15                       People Management           -489.62
16                               Economics           -481.75
17               Administrative Assistance           -481.00
18                      Telecommunications           -470.25
19                   Management Consulting           -465.04
20                   Aerospace Engineering           -459.57
21                Environmental Consulting           -456.65
22                                Politics           -455.72
23                    Human Resources (HR)           -454.04
24                                     Law           -444.72
25                       Personal Coaching           -442.94
26                           Public Policy           -432.87
27                                 Writing           -429.40
28                        Payroll Services           -417.59
29                        Accounts Payable           -415.60
30                             Translation           -409.63
31                Corporate Communications           -407.53
32                             Bookkeeping           -406.50
33                       Technical Support           -405.87
34               Data Storage Technologies           -402.25
35                     Computer Networking           -401.17
36                         Social Services           -400.00
37                             Procurement           -381.75
38                Construction Engineering           -380.71
39                             Electronics           -379.37
40                        Entrepreneurship           -375.82
41                   System Administration           -375.25
42                Manufacturing Operations           -369.78
43                   Environmental Science           -369.71
44                       Growth Strategies           -364.60
45                    Nonprofit Management           -356.44
46         Employee Learning & Development           -353.67
47                               Machining           -347.71
48                              Recruiting           -339.42
49                      Emergency Medicine           -332.85

### Exercise 8 - total net migration over 5 years
---

Using the Country Migration data sheet, display the record at position 10.  Using the column names to access the data in each column, add the five columns containing the net migration data together to calculate the total net migration over the 5 years between 2015 and 2019.

In [41]:
import pandas as pd

def net_migration_in_5yrs():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  user_sheet_name = 'Country Migration'
  df = pd.read_excel(excel_url, sheet_name=user_sheet_name)

  # Print shape to just get an idea about samples
  print(f'Shape of {user_sheet_name} is {df.shape}')

  total_col = len(df.axes[1])
  # Set some display options when run
  pd.options.display.max_columns= total_col
  pd.options.display.max_rows= 100

  # display the record at position 10
  #UNDO print(df.iloc[10])

  # calculate the total net migration over the 5 years between 2015 and 2019
  net_migration_in_2015 = df.net_per_10K_2015.sum()
  print(f'net_migration_in_2015 = {net_migration_in_2015}')
  
  net_migration_in_2016 = df.net_per_10K_2016.sum()
  print(f'net_migration_in_2016 = {net_migration_in_2016}')

  net_migration_in_2017 = df.net_per_10K_2017.sum()
  print(f'net_migration_in_2017 = {net_migration_in_2017}')

  net_migration_in_2018 = df.net_per_10K_2018.sum()
  print(f'net_migration_in_2018 = {net_migration_in_2018}')

  net_migration_in_2019 = df.net_per_10K_2019.sum()
  print(f'net_migration_in_2019 = {net_migration_in_2019}')

  net_migration_2015_to_2019 = net_migration_in_2015 + net_migration_in_2016 + net_migration_in_2017 + net_migration_in_2018 + net_migration_in_2019
  print(f'net_migration_2015_to_2019 is {net_migration_2015_to_2019}')


net_migration_in_5yrs()

Shape of Country Migration is (4148, 17)
net_migration_in_2015 = 1915.3700000000001
net_migration_in_2016 = 623.23
net_migration_in_2017 = -332.96999999999997
net_migration_in_2018 = -168.36999999999998
net_migration_in_2019 = -94.34000000000006
net_migration_2015_to_2019 is 1942.9200000000005

### Exercise 9 - formulating a text response

Using the Industry Migration data sheet, display the record at position 100.  Using the column names again to access the data in each column, calculate net migration over the 5 years from 2015 to 2019.

Then print the following message, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

### Exercise 10 - five text responses

Using the Industry Migration data sheet, calculate net migration (rounded to 1 decimal place) over the 5 years from 2015 to 2019 for the records at positions 1 to 5 and print the following message for each, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

*Hint: use a for loop to get a record and do each calculation*