<a href="https://colab.research.google.com/github/njaincode/python_for_data_science/blob/main/Interrogating_dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Interrogating the dataframe
---

We use pandas to create dataframes from data sets in files or online tables.

Once we have the dataframe we might want to:  
*   display a subset of rows
*   *   we can do this using df.head(), df.tail() or df.iloc[index]
*   display a subset of columns
*   *   we can do this using the column name as the key, e.g.   
`                df['rain (mm)']`  
*   *   we can display more than one column, simply by listing the columns in the square brackets, e.g.   
`                df[['rain (mm)', 'tmin (degC)', 'sun (hours)']]`  
*   *   and can dislay a subset of rows for a subset of columns, e.g.  
 `               df[['rain (mm)', 'tmax (degC)']].head(10)`

### Exercise 1 - get the data, look at first 10 records
---


1.  Import the pandas library with the alias pd  
2.  Read the sheet with the name "Industry Migration" from the Excel file from this link: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true  (*Hint:  use pd.read_excel(url, sheet_name="Industry Migration") with the above url.*)
3.  display the first 10 rows of the data

In [8]:
import pandas as pd

def display_10_records():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  df = pd.read_excel(excel_url, sheet_name='Industry Migration')
  total_rows = len(df.axes[0])
  total_col = len(df.axes[1])
  print(f'rows={total_rows}, col={total_col}')
  pd.options.display.max_columns= total_col
  pd.options.display.max_rows= total_rows
  print(df.shape)
  print(df.info())
  # FIXME Nice way to print?
  print(df.head(10))

display_10_records()

rows=5295, col=13
(5295, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_code        5295 non-null   object
 1   country_name        5295 non-null   object
 2   wb_income           5295 non-null   object
 3   wb_region           5295 non-null   object
 4   isic_section_index  5295 non-null   object
 5   isic_section_name   5295 non-null   object
 6   industry_id         5295 non-null   int64
 7   industry_name       5295 non-null   object
 8   net_per_10K_2015    5295 non-null   float64
 9   net_per_10K_2016    5295 non-null   float64
 10  net_per_10K_2017    5295 non-null   float64
 11  net_per_10K_2018    5295 non-null   float64
 12  net_per_10K_2019    5295 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 537.9+ KB
None
  country_code          country_name    wb_income                   wb_region  \
0           ae  United Arab Emirates  High income  Middle East & North Africa
1           ae  United Arab Emirates  High income  Middle East & North Africa
2           ae  United Arab Emirates  High income  Middle East & North Africa
3           ae  United Arab Emirates  High income  Middle East & North Africa
4           ae  United Arab Emirates  High income  Middle East & North Africa
5           ae  United Arab Emirates  High income  Middle East & North Africa
6           ae  United Arab Emirates  High income  Middle East & North Africa
7           ae  United Arab Emirates  High income  Middle East & North Africa
8           ae  United Arab Emirates  High income  Middle East & North Africa
9           ae  United Arab Emirates  High income  Middle East & North Africa

  isic_section_index                                 isic_section_name  \
0                  C                                     Manufacturing
1                  J                     Information and communication
2                  J                     Information and communication
3                  J                     Information and communication
4                  J                     Information and communication
5                  J                     Information and communication
6                  M  Professional scientific and technical activities
7                  M  Professional scientific and technical activities
8                  M  Professional scientific and technical activities
9                  M  Professional scientific and technical activities

   industry_id          industry_name  net_per_10K_2015  net_per_10K_2016  \
0            1        Defense & Space            378.74            127.94
1            3      Computer Hardware            100.97            358.14
2            4      Computer Software           1079.36            848.15
3            5    Computer Networking            401.46            447.39
4            6               Internet           1840.33           1368.42
5            8     Telecommunications            676.91            676.11
6            9           Law Practice            694.50            529.50
7           10         Legal Services            661.10            665.65
8           11  Management Consulting            982.85            694.25
9           12          Biotechnology           1230.17            846.28

   net_per_10K_2017  net_per_10K_2018  net_per_10K_2019
0              8.20             68.51             49.55
1            112.98            149.57            182.22
2            596.48            409.18            407.41
3            163.99            236.69            188.07
4            877.71            852.39            519.40
5            365.96            283.59            281.91
6            362.83            356.56            147.83
7            462.30            475.62            255.21
8            520.28            574.60            406.03
9            500.77            205.78            513.23

### Exercise 2 - display just two columns

Display the first 50 records focusing on the industries where migration is happening in each country (show just country_name and industry_name).

In [ ]:
import pandas as pd

def display_2col_records():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  df = pd.read_excel(excel_url, sheet_name='Industry Migration')
  total_rows = len(df.axes[0])
  total_col = len(df.axes[1])
  print(f'rows={total_rows}, col={total_col}')
  pd.options.display.max_columns= total_col
  pd.options.display.max_rows= 50
  
  # For debug
  #print(df.info())

  print(f'Printing country and industry names\n')
  print(df[['country_name' , 'industry_name']].head(50))
  
display_2col_records()

### Exercise 3 - yearly migration

*   display the middle 20 records, showing the country_name and the migration for each of the years 2015 to 2019.
---

In [25]:
import pandas as pd

def display_mid20_records():
  excel_url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true'
  df = pd.read_excel(excel_url, sheet_name='Industry Migration')
  total_rows = len(df.axes[0])
  total_col = len(df.axes[1])
  print(f'rows={total_rows}, col={total_col}')
  pd.options.display.max_columns= total_col
  pd.options.display.max_rows= 20
  
  # For debug
  print(df.info())

  # Get column number from column name
  

  print(f'Printing country and industry names\n')
  print(df['country_name'].head(10))
  for i in range (5):
    print(df['net_per_10K_2015'+i]).head(10)

display_mid20_records()

rows=5295, col=13
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5295 entries, 0 to 5294
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country_code        5295 non-null   object
 1   country_name        5295 non-null   object
 2   wb_income           5295 non-null   object
 3   wb_region           5295 non-null   object
 4   isic_section_index  5295 non-null   object
 5   isic_section_name   5295 non-null   object
 6   industry_id         5295 non-null   int64
 7   industry_name       5295 non-null   object
 8   net_per_10K_2015    5295 non-null   float64
 9   net_per_10K_2016    5295 non-null   float64
 10  net_per_10K_2017    5295 non-null   float64
 11  net_per_10K_2018    5295 non-null   float64
 12  net_per_10K_2019    5295 non-null   float64
dtypes: float64(5), int64(1), object(7)
memory usage: 537.9+ KB
None
Printing country and industry names

0     United Arab Emirates
1     United Arab Emirates
2     United Arab Emirates
3     United Arab Emirates
4     United Arab Emirates
5     United Arab Emirates
6     United Arab Emirates
7     United Arab Emirates
8     United Arab Emirates
9     United Arab Emirates
10    United Arab Emirates
11    United Arab Emirates
12    United Arab Emirates
13    United Arab Emirates
14    United Arab Emirates
15    United Arab Emirates
16    United Arab Emirates
17    United Arab Emirates
18    United Arab Emirates
19    United Arab Emirates
Name: country_name, dtype: object

TypeError: ignored

### Exercise 4 - migration to and from
---

The Excel file at this link (which you have already opened above): https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true has three data sheets, "Country Migration", "Industry Migration" and "Skills Migration"

Open the data sheet "Country Migration" and display the first 10 records showing the country that migration was to, the country it was from and the net migration for each year from 2015 to 2019

### Exercise 5 - unique countries

Using the "Country Migration" sheet, get all the unique country names from where people have migrated (base_country_name) and use a for loop to print a list of the countries.

### Exercise 6 - how many countries are migrated to

Using the "Country Migration" sheet again, get all the unique country names to where people have migrated and display the number of unique countries.

### Exercise 7 - skill sets
---


Using the "Skill Migration" data sheet, display the following:
*  the first record
*  the last 10 records
*  records from index 500 to index 600  
*  a count of all unique countries
*  a list of all unique skill group categories
*  the first 50 skill group names and net migration in 2019

### Exercise 8 - total net migration over 5 years
---

Using the Country Migration data sheet, display the record at position 10.  Using the column names to access the data in each column, add the five columns containing the net migration data together to calculate the total net migration over the 5 years between 2015 and 2019.

### Exercise 9 - formulating a text response

Using the Industry Migration data sheet, display the record at position 100.  Using the column names again to access the data in each column, calculate net migration over the 5 years from 2015 to 2019.

Then print the following message, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

### Exercise 10 - five text responses

Using the Industry Migration data sheet, calculate net migration (rounded to 1 decimal place) over the 5 years from 2015 to 2019 for the records at positions 1 to 5 and print the following message for each, adding the data where indicated:

The total net migration into `country` of skilled workers for the `industry name` industry, during the years 2015-2019 was `total_net_migration`

*Hint: use a for loop to get a record and do each calculation*