<a href="https://colab.research.google.com/github/njaincode/python_for_data_science/blob/main/misc_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
# How to check if a number is not in range
def check_not_in_range(num):
  if num not in range (1,5):
    print(f'Outside range')
  else:
    print(f'Within range')

#check_not_in_range(6)

# Variable number of args (as tuple)
def f_take_var_args(*args):
  print(args)
  print(type(args))

def f_unpack_args(x,y):
  print(f'x={x} y={y}')
  print(type(x))

var_args = 1,2,2,3
unpack_args = {5,6}

#f_take_var_args(var_args)
#f_unpack_args(*unpack_args)

# kwars
# The arguments are passed as a dictionary and these arguments make a dictionary 
#inside function with name same as the parameter excluding double asterisk.
# Keys should be strings


def f_kwargs(**ckwargs):
  print(ckwargs)
  print(type(ckwargs))

def f_kargs_unpack(a,b,c):
  print(a, b, c)

#f_kwargs(a='2', b='3', c='4')
kargs_pack = {'a':'Hello', 'b':'how', 'c':'are'}
f_kargs_unpack(**kargs_pack)

Hello how are

# datetime()

In [ ]:
from datetime import date

def calculate_age():
  today = date.today()
  current_year = today.year

# regex practice

In [ ]:
def reg_pract():
  abc

# Array slicing

In [6]:
import numpy as np

def array_slicing():
  a = np.arange(0,10,1)
  print(a)
  # Negative index slicing - start -> -3+10, 7-1, 7-2, 7-3, 7-4
  print(a[-3:3:-1])

array_slicing()

[0 1 2 3 4 5 6 7 8 9]
[7 6 5 4]

# Panda Data Frames

In [15]:
import pandas as pd

# Create a dictionary
people = {
    'First' : ['Tom', 'Joe', 'Emily'],
    'Last' : ['Will', 'Smith', 'Paris'],
    'Age' : [32, 12, 90]
}

# cast it to pd.df
df = pd.DataFrame(people)
print(df)

filt = (df['Last'] == 'Smith')
# Notice its name is shown as Last and its type bool
print(f' filt \n {filt} ')

#print(type(filt))
## ~ returns inverted selection
print(f' df[~filt] \n {df[~filt]} ')

# rows -> filt, col -> age
print(f'Filtering using loc \n {df.loc[filt, "Age"]} ')

   First   Last  Age
0    Tom   Will   32
1    Joe  Smith   12
2  Emily  Paris   90
 filt
 0    False
1     True
2    False
Name: Last, dtype: bool
 df[~filt]
    First   Last  Age
0    Tom   Will   32
2  Emily  Paris   90
Filtering using loc
 1    12
Name: Age, dtype: int64